{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">  
        <div class="logo">
            <a href="{% url 'student-list' %}"><img src="{% static 'images/logo.png' %}" alt="website  Logo"></a>
        </div>
        <div class="menu">
            <ul>    
                <li><a href="{% url 'student-list' %}">Home</a></li>
                <li><a href="{% url 'student-add' %}">Add Student</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout'%}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login'%}">Login</a></li>
                     <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
               
                <li><a href="{% url 'contact-us' %}">Contact us</a></li>
            
            </ul>
        </div>
    </div>

    <div class="container-simple">
        {% block content %}
        {% endblock %}
    </div>
    <div class="container">
        {% include 'student/paginate.html' %}
    </div>
</body>
</html>
