{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <img src="{% static 'images/logo.png' %}" alt="website  Logo">
    <h1> Student List </h1>
    <table border="1" width="100%">
        <tr>
            <th> Admno</th>
            <th> Name </th>
            <th> Father Name </th>
            <th> Class </th>
            <th>Image</th>
        </tr>
        {% for object in object_list %}
        <tr>
            <td> {{object.admno}}</td>
            <td> {{object.name}}</td>
            <td> {{object.fname}}</td>
            <td> {{object.std}}-{{object.section}}</td>
            <td><img src="{{object.photo.url}}" width="50" height="auto" /></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
